.navbar{
	background-color: #009688;
	height: 8vh;
}

.navbar ul{
	background-color: #009688;
}

.navbar a{
	color: #ffffff;
}

.nav li a:visited{
	background-color: #009688;
}

.nav li a:hover{
	background-color: #4DB6AC;
}


.query-block{
	margin-top: 10vh;
	height: 90vh;
}

.query-content{
	text-align: center;
	margin: auto auto;
}

.bg1{
	background-image: url('../background/background.png');
	background-size: 100vw 100vh;
}

.query-content-text{
	background-color: transparent;
	color: #ffffff;
}

.offers{
	position: fixed;
	left: 0px;
	top: 45vh;
	color: #ffffff;
	display: block;
}

/*.offers p{
	display: block;
	height: 4px;
	font-size: large;
	padding-left: 5px;
}

#offers{
	position: fixed;
	top: 47.5vh;
	left: 20px;
}

.verticaltext {
    transform: rotate(-90deg);
    transform-origin: right, top;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin:right, top;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin:right, top;
    color: #ffffff;
}*/
a, a:focus, a:active {outline: none !important; box-shadow: none !important;}

.carousel-inner > .item.next,
.carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(33%, 0, 0);
     transform: translate3d(33%, 0, 0);
 }
 .carousel-inner > .item.prev,
 .carousel-inner > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-33%, 0, 0);
      transform: translate3d(-33%, 0, 0);
 }
.carousel-control.left,.carousel-control.right {
	background-image:none;
}

.slider{
	width: 250px;
	height: 250px;
}